<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0aa98481-1d2a-48fd-b802-18f1643aea77/resourcegroups/GlobalBuzzNewsletter20240812111436ResourceGroup/providers/Microsoft.Web/sites/GlobalBuzz</ResourceId>
    <ResourceGroup>GlobalBuzzNewsletter20240812111436ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/0aa98481-1d2a-48fd-b802-18f1643aea77/resourceGroups/GlobalBuzzNewsletter20240812111436ResourceGroup/providers/Microsoft.ApiManagement/service/Newsletterapi/apis/globalbuzz</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://globalbuzz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>96f58056-7a6f-48b7-a16b-644a76077124</ProjectGuid>
    <MSDeployServiceURL>globalbuzz.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GlobalBuzz</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$GlobalBuzz</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>